# env.j2 example

# frontend:
FRONTEND_PORT=3000
AUTH_API_ADDRESS=http://auth-api:8081
TODOS_API_ADDRESS=http://todos-api:8082

# auth-api:
AUTH_API_PORT=8081
JWT_SECRET=your_jwt_secret_here
USERS_API_ADDRESS=http://users-api:8083

# todos-api:
TODOS_API_PORT=8082
JWT_SECRET=your_jwt_secret_here
REDIS_HOST=redis-queue
REDIS_PORT=6379
REDIS_CHANNEL=log_channel

# users-api:
USERS_API_PORT=8083
SERVER_PORT=8083
JWT_SECRET=your_jwt_secret_here

# log-message-processor:
REDIS_HOST=redis-queue
REDIS_PORT=6379
REDIS_CHANNEL=log_channel

# Traefik configuration
TRAEFIK_AUTH=admin:your_hashed_password_here
BASE_URL=your_domain_name_here
ZIPKIN_PORT=9411
ZIPKIN_URL=http://zipkin:9411/api/v2/spans